<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="container">
    <footer class="footer">
        <div class="introduce">
            <div>
                <h5>Thông tin</h5>
                <a href="#">Giới thiệu về Divine Shop</a><br>
                <a href="#">Chính sách bảo mật</a><br>
                <a href="#">Điều khoản dịch vụ</a>
            </div>
        </div>
        <div class="customer-care">
            <div>
                <h5>Chăm sóc khách hàng</h5>
                <a href="#">Liên hệ</a><br>
                <a href="#">Chế độ bảo hành</a>
            </div>
        </div>
        <div class="contact">
            <div>
                <h5>Liên hệ</h5>
                <a href="#">Đia chỉ: Bắc Hồng - Đông Anh - Hà Nôi</a><br>
                <a href="#">Hotline: 037621378 (24/7)</a><br>
                <p style="color: #fff;">Kết nối</p>
                <img width="18" height="16" th:src="@{img/icon/facebook.png}" alt="facebook">
                <i style="color: #fff;" class="fab fa-youtube"></i>
                <img width="18" height="16" th:src="@{img/icon/google.png}" alt="Google">
            </div>
        </div>
        <div class="import-facebook">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=300&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </footer>
    <span class="copyright">© Copyright 2019 DTS Group</span>
</div>

<!-- start ./ messenger -->
<div xmlns:th="http://www.thymeleaf.org"  th:fragment="messenger" class="messenger">
    <div class="guide">
        <img width="40" height="40" th:src="@{img/icon/tutorial.png}" alt="tutorial">
        <p>Hướng dẫn</p>
    </div>
    <div class="mess">
        <img width="40" height="40" th:src="@{img/icon/messenger.png}" alt="messenger">
        <p>Hỗ trợ</p>
    </div>
</div>
<!-- end ./ messenger -->

<!--start ./ support-->
<div xmlns:th="http://www.thymeleaf.org"  th:fragment="support-detail" class="support">
    <div class="tutorial">
        <img width="35px" height="35px" th:src="@{/img/icon/tutorial.png}">
        <p>Hướng dẫn</p>
    </div>
    <div class="messenger">
        <img width="35px" height="35px" th:src="@{/img/icon/messenger.png}">
        <p>Hỗ trợ</p>
    </div>
</div> <!--end support-->

<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer-detail" class="footer-container">
    <div class="footer">
        <div class="info">
            <span>Thông tin</span><br>
            <a href="#">Giới thiệu về Divine Shop</a><br>
            <a href="#">Chính sách bảo mật</a><br>
            <a href="#">Điều khoản dịch vụ</a>
        </div>
        <div class="service">
            <span>Chăm sóc khách hàng</span><br>
            <a href="#">Liên hệ</a><br>
            <a href="#">Chế độ bảo hành</a>
        </div>
        <div class="contact">
            <span>Liên hệ</span><br>
            <a href="#">Địa chỉ: Bắc Hồng - Đông Anh- Hà Nội</a><br>
            <a href="#">Hotline: 0376213798 (24/7)</a><br>
            <span>Kết nối</span>
            <div class="social-network">
                <img height="15px" width="15px" th:src="@{/img/icon/facebook.png}" style="margin-right: 10px; cursor: pointer;">
                <i style="color: white; font-size: 20px; margin-right: 10px; cursor: pointer;" class="fa fa-youtube-play" aria-hidden="true"></i>
                <img style="cursor: pointer;" height="15px" width="15px" th:src="@{/img/icon/google.png}">
            </div>
        </div>
        <div class="facebook">
            <iframe th:src="@{https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=300&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId}"
                    style="border:none;overflow:hidden"
                    scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    <div class="footer-bottom">
        <span class="copyright">© Copyright 2019 DTS Group</span>
        <img th:src="@{/img/icon/bct.png}">
    </div>
</div> <!--end footer-container-->